@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.scss";

html, * {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  @apply text-black;
}

.next-image-reset {
  position: relative !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
}